<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <link href="css/site.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Klever Challenge</title>
    @RenderSection("scripts", required: false)
</head>

<body>
    @{
        var view = ViewContext?.RouteData?.Values?["Action"]?.ToString();
    }
    <div class="page" b-3dsd3z3yec="">
        <div class="sidebar" b-3dsd3z3yec="">
            <div class="top-row ps-3 navbar navbar-dark" b-7cxxmz0cwl="">
                <div class="container-fluid" b-7cxxmz0cwl="">
                    <a class="navbar-brand" class="nav-icon-text" href="" b-7cxxmz0cwl=""><img class="nav-icon"
                            src="img/KLV.png">KleverChallenge</a>
                    @* <a b-ym6yl11bb6="" class="navbar-brand" b-7cxxmz0cwl="" href="" b-7cxxmz0cwl=""><img
                        src="https://camo.githubusercontent.com/1682a4f6d1b5c9469e5f0c84de7aaf550f203def3e80e3053c59064c59f2b698/68747470733a2f2f7062732e7477696d672e636f6d2f70726f66696c655f62616e6e6572732f313338393534353130393937333230303839362f313634303735303330352f3135303078353030"
                        style="width: 182px; margin-top: -18px; margin-left: -11px;"></a> *@
                    <button title="Navigation menu" class="navbar-toggler" b-7cxxmz0cwl="">
                        <span class="navbar-toggler-icon" b-7cxxmz0cwl=""></span>
                    </button>
                </div>
            </div>
            <div class="collapse" b-7cxxmz0cwl="">
                <nav class="flex-column" b-7cxxmz0cwl="">
                    <div class="nav-item px-3" b-7cxxmz0cwl="">
                        <a href="Home/Index" class="@(view == "Index" ? "nav-link active" : "nav-link")">
                            <span class="oi oi-home" aria-hidden="true" b-7cxxmz0cwl=""></span> Home
                        </a>
                    </div>
                    <div class="nav-item px-3" b-7cxxmz0cwl="">
                        <a href="Crypto/List" class="@(view == "List" ? "nav-link active" : "nav-link")">
                            <span class="oi oi-list-rich" aria-hidden="true" b-7cxxmz0cwl=""></span> List Cryptos
                        </a>
                    </div>
                    <div class="nav-item px-3" b-7cxxmz0cwl="">
                        <a href="Crypto/Add" class="@(view == "Add" ? "nav-link active" : "nav-link")">
                            <span class="oi oi-plus" aria-hidden="true" b-7cxxmz0cwl=""></span> Add Crypto
                        </a>
                    </div>
                    <div class="nav-item px-3" b-7cxxmz0cwl="">
                        <a href="Crypto/Manage" class="@(view == "Manage" ? "nav-link active" : "nav-link")">
                            <span class="oi oi-loop-circular" aria-hidden="true" b-7cxxmz0cwl=""></span> Manage Crypto
                        </a>
                    </div>
                </nav>
            </div>
        </div>
        <main b-3dsd3z3yec="">
            <div class="top-row px-4" b-3dsd3z3yec=""><a href="https://github.com/kainbr3/klever.io_challenge"
                    target="_blank" b-3dsd3z3yec="">About</a></div>
            <article class="content px-4" b-3dsd3z3yec="">
                @RenderBody()
            </article>
        </main>
    </div>
</body>

</html>