@{
    ViewData["Title"] = "List Cryptos Page";
}

<div class="text-center">

    <h1 class="display-4">Cryptos List</h1>

    <p>This page fetch data from a gRPC service.</p>

</div>

<table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Icon</th>
                <th>Name</th>
                <th>Token</th>
                <th>Votes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var coin in ViewBag.CryptoList)
            {
                var imgPath = $@"img/{coin.Token.ToUpper()}.png";
                <tr>
                    <td>@(ViewBag.CryptoList.IndexOf(coin)+1)</td>
                    <td><img class="token-img" src="@imgPath" width="40px"/></td>
                    <td>@coin.Name</td>
                    <td>@coin.Token</td>
                    <td>@coin.Votes</td>
                </tr>
            }
        </tbody>
</table>

@section scripts {
    <script type="text/javascript">
        window.onload = function() {
            document.querySelectorAll(".token-img").forEach(function(token, i) {
                var img = new Image();
                img.src = token.src;
                if(!img.height != 0) token.src = "img/404.png";
            })            
        };
    </script>
}